<div class="border rounded-top" id="fondo">
  <div class="row justify-content-center" style="margin-top: 8px; margin-bottom: 10px;">
    <div class="col-sm-2 ">
      <a href="cliente/listar" class=" nav-link active justify-content-center" style="text-align: center;">
        <div class="row ">
          <div  class="col">
            <img src="../assets/imagenes/contact.png" alt="" height="40" >
            <br>
            <label for="">Contactos</label>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-2 ">
      <a href="cliente/listar" class="nav-link active justify-content-center" style="text-align: center;">
        <div class="row justify-content-center" >
          <div  class="col">
            <img src="../assets/imagenes/task.png" alt="" height="40" >
            <br>
            <label for="">Tareas </label>
          </div>
        </div>
        
      </a>
    </div>
    <div class="col-sm-2 ">
      <a href="cliente/listar" class="nav-link active" style="text-align: center;">
        <div class="row justify-content-center">
          <div  class="col">
            <img src="../assets/imagenes/comment.png" alt="" height="40">
            <br>
            <label for="" >Comentarios</label>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>